.appContainer {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.mainContent {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255);
}

.introSection {
  padding: 6rem 2rem;
  text-align: center;
  background-color: #fff;
}

.introTitle,
.introText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.introTitle {
  font-size: 3rem; /* Larger title */
  margin-bottom: 4rem;
  margin-top: 2rem;
  color: #2c3e50;
}

.introText {
  font-size: 1.3rem;
  color: #555;
  max-width: 900px; /* Wider reading area */
  margin: 0 auto;
  line-height: 1.8;
}
